# Sources
*.c     text diff=c
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=c
*.h++   text diff=cpp
*.hh    text diff=cpp
*.ii    text diff=cpp

* linguist-vendored
*.sce linguist-vendored=false
*.sci linguist-vendored=false
*.dat linguist-vendored=false
*.ans linguist-vendored=false
*.txt linguist-vendored=false
*.tst linguist-vendored=false

